<div class="fixed w-full h-full z-20 bg-black/75 left-0 top-0 flex justify-center items-center" (click)="closeMe()">
  <div class="absolute text-white top-4 right-4 hover:cursor-pointer">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
    </svg>
  </div>

  <div class="bg-white max-w-1/2 max-h-[calc(100vh-8rem)] overflow-scroll" (click)="$event.stopPropagation()">
    <div *ngIf="title">
      <h2 >
        {{title}}
      </h2>
    </div>
    <div class="modal-body">
      <ng-template appModalBody></ng-template>
    </div>
    <div class="modal-footer">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </div>
</div>
